name: ci

on:
    push:

env:
    CICD_PATH: WORKSPACE}/.cicd
    ODOO_CUSTOM_ADDONS_PATH: .
    PIPELINE_SCRIPTS_PATH: "./.cicd/scripts"
    PIPELINE_UTILS_SCRIPT_PATH: "${PIPELINE_SCRIPTS_PATH}/utils.sh"
    ODOO_IMAGE_TAG: "xmars/odoo16-cicd"
    ODOO_WORKSPACE: "./.cicd/odoo"
    CONFIG_FILE: ${ODOO_WORKSPACE}/etc/odoo.conf
    ODOO_DOCKER_COMPOSE_PATH: "${ODOO_WORKSPACE}"
    ODOO_TEST_DATABASE_NAME: "testing_db"
    LOG_FILE: "/var/log/odoo/odoo.log"
    LOG_FILE_OUTSIDE: ${ODOO_WORKSPACE}/logs/odoo.log
    ODOO_TMP_BACKUP_FOLDER: WORKSPACE}/.tmp/server-backup

jobs:
    buildx:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Update config before run pylint
              run: |
                  echo $CICD_PATH
                  echo $ODOO_CUSTOM_ADDONS_PATH
                  echo $PIPELINE_SCRIPTS_PATH
                  echo $PIPELINE_UTILS_SCRIPT_PATH
                  echo $ODOO_IMAGE_TAG
                  echo $ODOO_WORKSPACE
                  echo $CONFIG_FILE
                  echo $ODOO_DOCKER_COMPOSE_PATH
                  echo $ODOO_TEST_DATABASE_NAME
                  echo $LOG_FILE
                  echo $LOG_FILE_OUTSIDE
                  echo $ODOO_TMP_BACKUP_FOLDER

                  bash $PIPELINE_SCRIPTS_PATH/build.sh "pylint"
                  cat $CONFIG_FILE
            - uses: isbang/compose-action@v1.5.1
              with:
                  compose-file: "$ODOO_WORKSPACE/docker-compose.yml"
                  up-flags: "--build"
                  down-flags: "--volumes"

            # - name: Set up Docker Buildx
            #   uses: docker/setup-buildx-action@v3
            #   with:
            #       buildkitd-flags: --debug
            # - run: |
            #       docker ps -a
            # - run: docker --version
            # - name: Build
            #   uses: docker/build-push-action@v5
            #   with:
            #       context: .
