name: ci

on:
    pull_request:
        types: [reopened, opened, synchronize, ready_for_review, closed]

env:
    CICD_ODOO_OPTIONS: ${{ github.workspace }}/.cicd/conf/odoo.json
    ODOO_CUSTOM_ADDONS_PATH: .
    PIPELINE_SCRIPTS_PATH: ${{ github.workspace }}/.cicd/scripts
    PIPELINE_UTILS_SCRIPT_PATH: ${{ github.workspace }}/.cicd/scripts/utils.sh
    ODOO_IMAGE_TAG: xmars/odoo16-cicd
    ODOO_WORKSPACE: ${{ github.workspace }}/.cicd/odoo
    CONFIG_FILE: ${{ github.workspace }}/.cicd/odoo/etc/odoo.conf
    ODOO_DOCKER_COMPOSE_PATH: ${{ github.workspace }}/.cicd/odoo
    ODOO_TEST_DATABASE_NAME: testing_db
    LOG_FILE: /var/log/odoo/odoo.log
    LOG_FILE_OUTSIDE: ${{ github.workspace }}/.cicd/odoo/logs/odoo.log
    ODOO_TMP_BACKUP_FOLDER: ${{ github.workspace }}/.cicd/.tmp/server-backup
    TELEGRAM_CHANNEL_ID: ${{ secrets.TELEGRAM_CHANNEL_ID }}
    TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
    PR_NUMBER: ${{ github.event.pull_request.number }}
    PR_URL: ${{ github.event.pull_request.html_url }}

jobs:
    pylint-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Update config file before running pylint tests
              run: |
                  bash $PIPELINE_SCRIPTS_PATH/build.sh "pylint"
            - uses: isbang/compose-action@v1.5.1
              with:
                  compose-file: ${{ github.workspace }}/.cicd/odoo/docker-compose.yml
                  up-flags: "--build --quiet-pull"
                  down-flags: "--volumes"
            - name: Run Pylint Test cases
              run: |
                  bash $PIPELINE_SCRIPTS_PATH/pylint-test.sh

    unit-test-at-install:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Update config file before running unit tests
              run: |
                  bash $PIPELINE_SCRIPTS_PATH/build.sh "unit_test" "at_install"
                  cat $CONFIG_FILE
            - uses: isbang/compose-action@v1.5.1
              with:
                  compose-file: ${{ github.workspace }}/.cicd/odoo/docker-compose.yml
                  up-flags: "--build --quiet-pull"
                  down-flags: "--volumes"
            - name: Run Unit test cases
              run: |
                  bash $PIPELINE_SCRIPTS_PATH/unit-test.sh

    unit-test-post-install:
        runs-on: ubuntu-latest
        needs: [unit-test-at-install]
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Update config file before running unit tests
              run: |
                  bash $PIPELINE_SCRIPTS_PATH/build.sh "unit_test" "post_install"
                  cat $CONFIG_FILE
            - uses: isbang/compose-action@v1.5.1
              with:
                  compose-file: ${{ github.workspace }}/.cicd/odoo/docker-compose.yml
                  up-flags: "--build --quiet-pull"
                  down-flags: "--volumes"
            - name: Run Unit test cases
              run: |
                  bash $PIPELINE_SCRIPTS_PATH/unit-test.sh

    Deploy-server:
        runs-on: ubuntu-latest
        if: github.event.action == 'closed' && github.event.pull_request.merged == true
        needs: [pylint-test, unit-test-post-install]
        steps:
            - run: |
                  echo "Deploy to server here"
