name: ci

on:
    push:

env:
    CICD_ODOO_OPTIONS: ${{ github.workspace }}/.cicd/conf/odoo.conf
    ODOO_CUSTOM_ADDONS_PATH: .
    PIPELINE_SCRIPTS_PATH: ${{ github.workspace }}/.cicd/scripts
    PIPELINE_UTILS_SCRIPT_PATH: ${{ github.workspace }}/.cicd/scripts/utils.sh
    ODOO_IMAGE_TAG: xmars/odoo16-cicd
    ODOO_WORKSPACE: ${{ github.workspace }}/.cicd/odoo
    CONFIG_FILE: ${{ github.workspace }}/.cicd/odoo/etc/odoo.conf
    ODOO_DOCKER_COMPOSE_PATH: ${{ github.workspace }}/.cicd/odoo
    ODOO_TEST_DATABASE_NAME: testing_db
    LOG_FILE: /var/log/odoo/odoo.log
    LOG_FILE_OUTSIDE: ${{ github.workspace }}/.cicd/odoo/logs/odoo.log
    ODOO_TMP_BACKUP_FOLDER: ${{ github.workspace }}/.cicd/.tmp/server-backup

jobs:
    buildx:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Update config before run pylint
              run: |
                  echo $CICD_ODOO_OPTIONS
                  bash $PIPELINE_SCRIPTS_PATH/build.sh "pylint"
                  cat $CONFIG_FILE
            - uses: isbang/compose-action@v1.5.1
              with:
                  compose-file: ${{ github.workspace }}/.cicd/odoo/docker-compose.yml
                  up-flags: "--build"
                  down-flags: "--volumes"
            - name: Run Pylint Test cases
              run: |
                  tree -d $ODOO_WORKSPACE
                  ls -lah 
                  bash $PIPELINE_SCRIPTS_PATH/pylint-test.sh
            - run: |
                  bash $PIPELINE_UTILS_SCRIPT_PATH exec get_repo_url
            - run: |
                  docker ps -a
                  bash $PIPELINE_UTILS_SCRIPT_PATH exec docker_odoo_exec cat /var/log/odoo/odoo.log
                  cat $ODOO_WORKSPACE/log/odoo.log
