name: ci

on:
    push:

env:
    CICD_ODOO_OPTIONS: ./.cicd/conf/odoo.conf
    ODOO_CUSTOM_ADDONS_PATH: .
    PIPELINE_SCRIPTS_PATH: ./.cicd/scripts
    PIPELINE_UTILS_SCRIPT_PATH: ./.cicd/scripts/utils.sh
    ODOO_IMAGE_TAG: "xmars/odoo16-cicd"
    ODOO_WORKSPACE: ./.cicd/odoo
    CONFIG_FILE: ./.cicd/odoo/etc/odoo.conf
    ODOO_DOCKER_COMPOSE_PATH: "./.cicd/odoo"
    ODOO_TEST_DATABASE_NAME: testing_db
    LOG_FILE: /var/log/odoo/odoo.log
    LOG_FILE_OUTSIDE: ./.cicd/odoo/logs/odoo.log
    ODOO_TMP_BACKUP_FOLDER: ./.cicd/.tmp/server-backup

jobs:
    buildx:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Update config before run pylint
              run: |
                  bash $PIPELINE_SCRIPTS_PATH/build.sh "pylint"
            - uses: isbang/compose-action@v1.5.1
              with:
                  compose-file: ${ODOO_WORKSPACE}/docker-compose.yml
                  up-flags: "--build"
                  down-flags: "--volumes"

            # - name: Set up Docker Buildx
            #   uses: docker/setup-buildx-action@v3
            #   with:
            #       buildkitd-flags: --debug
            # - run: |
            #       docker ps -a
            # - run: docker --version
            # - name: Build
            #   uses: docker/build-push-action@v5
            #   with:
            #       context: .
