name: ci

on:
    pull_request:
        types: [reopened, opened, synchronize, ready_for_review]

env:
    CICD_ODOO_OPTIONS: ${{ github.workspace }}/.cicd/conf/odoo.conf
    ODOO_CUSTOM_ADDONS_PATH: .
    PIPELINE_SCRIPTS_PATH: ${{ github.workspace }}/.cicd/scripts
    PIPELINE_UTILS_SCRIPT_PATH: ${{ github.workspace }}/.cicd/scripts/utils.sh
    ODOO_IMAGE_TAG: xmars/odoo16-cicd
    ODOO_WORKSPACE: ${{ github.workspace }}/.cicd/odoo
    CONFIG_FILE: ${{ github.workspace }}/.cicd/odoo/etc/odoo.conf
    ODOO_DOCKER_COMPOSE_PATH: ${{ github.workspace }}/.cicd/odoo
    ODOO_TEST_DATABASE_NAME: testing_db
    LOG_FILE: /var/log/odoo/odoo.log
    LOG_FILE_OUTSIDE: ${{ github.workspace }}/.cicd/odoo/logs/odoo.log
    ODOO_TMP_BACKUP_FOLDER: ${{ github.workspace }}/.cicd/.tmp/server-backup

jobs:
    Run-Pylint-Test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Update config before run pylint
              run: |
                  bash $PIPELINE_SCRIPTS_PATH/build.sh "pylint"
            - uses: isbang/compose-action@v1.5.1
              with:
                  compose-file: ${{ github.workspace }}/.cicd/odoo/docker-compose.yml
                  up-flags: "--build --quiet"
                  down-flags: "--volumes"
            - name: Run Pylint Test cases
              run: |
                  bash $PIPELINE_SCRIPTS_PATH/pylint-test.sh
                  bash $PIPELINE_UTILS_SCRIPT_PATH exec send_file_telegram ${{ secrets.TELEGRAM_TOKEN }} ${{ secrets.TELEGRAM_CHANNEL_ID }} "$LOG_FILE_OUTSIDE" "The pylint test result for [PR \\#${{ github.event.pull_request.number}}](${{ github.event.pull_request.html_url }})"

    Deploy-server:
        runs-on: ubuntu-latest
        if: github.event.action == 'closed' && github.event.pull_request.merged == true
        steps:
            - run: |
                  echo "ok deploy me bro"
